file:///home/user/Downloads Downloads
file:///home/user/Pictures Pictures
file:///home/user/Videos Videos
file:///home/user/Projects Projects
file:///home/user/.config config
file:///home/user/.local/share share
file:///tmp tmp
file:/// /
{{ if eq .chezmoi.hostname "desktop" }}
file:///home/user/data data
{{ end }}
